{{> header }}
<main class="main_collage">
  <h1 class="my-5">
    Collage de imagenes
    <div class="separador"></div>
  </h1>

  <div class="grid-container" style="max-width: 600px">
    <div class="elemento-imagen uno">1</div>
    <div class="elemento-imagen dos">2</div>
    <div class="elemento-imagen tres">3</div>
    <div class="elemento-imagen cuatro">4</div>
    <div class="elemento-imagen cinco">5</div>
    <div class="elemento-imagen">6</div>
    <div class="elemento-imagen">7</div>
    <div class="elemento-imagen">8</div>
  </div>
  <br />
  <a href="/"
    ><button class="btn btn-primary mb-5">Subir otra imagen</button></a
  >
</main>
{{> footer }}
<script src="/js/collage_script.js"></script>
